@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap');

body {
  font-family: 'Exo 2', sans-serif !important;
  background: #0f0f35 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif !important;
}